* {
	margin: 0;
	padding: 0;
}

/* Contact Form */
.contact {
	margin-left: 7.5rem;
	padding: 1rem;
	height: 100%;
	max-width: 100%;
}
.contact-section {
	background: url(bg.png) no-repeat center;
	background-size: cover;
	padding: 40px 0;
}
.contact-section h1 {
	text-align: center;
	color: #ddd;
}

.contact h1 {
	margin-top: 6rem;
	margin-left: 3rem;
}

.division {
	width: 100px;
	height: 10px;
	background: inherit;
	margin: 25px auto;
}

.contact-form {
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
}

.contact-form-text {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: #111;
	padding: 20px 40px;
	outline: none;
	color: #ddd;
	transition: 0.5s;
}
.contact-form-text:focus {
	box-shadow: 0 0 10px 4px #ef0d33;
}
textarea.contact-form-text {
	resize: none;
	height: 120px;
}
.contact-form-btn {
	margin-top: 55px;
	text-align: center;
	border: 0;
	border: 1px solid #ef0d33;
	background: none;
	color: #fff;
	padding: 12px 50px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
	outline: none;
}
.contact-form-btn:hover {
	background: #f50930;
	cursor: pointer;
}

/* Contact Form ends */

/* Contact Form Media Query Starts */

@media (max-width: 768px) {
	body {
		overflow: hidden;
	}
	.padding-setter {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
	.contact-section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.contact {
		margin-left: 0px;
	}
	.contact h1 {
		text-align: center;
		margin-left: 0px;
		margin-top: 4rem;
	}
	.division {
		margin: 20px auto;
	}

	.contact-form-btn {
		padding-left: 5rem;
		padding-right: 5rem;
		margin-top: 40px;
		margin-left: 22.5vw;
	}
}

@media (max-width: 400px) {
	.padding-setter {
		padding-left: 10px;
		padding-right: 10px;
	}

	.contact-form-btn {
		padding-left: 5rem;
		padding-right: 5rem;
		margin-top: 17.5px;
		margin-left: 67.5px;
		margin-bottom: 50px;
	}

	.contact h1 {
		margin-top: 1.20em;
	}
}

/* Contact Form Media Query Ends */

.map-section {
	margin-top: 2.5rem;
	min-height: 100%;
}

.map-container {
	padding: 0;
	margin: 0;
	margin-top: 2rem;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

iframe {
	height: 100%;
	width: 670px;
	border: none;
}

@media (max-width: 768px) {
	.map-section {
		display: none;
	}
}

@media (max-width: 500px) {
	.contact {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 400px) {
	.map-section {
		display: none;
	}
}
